@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-family-helvetica: var(--font-helvetica);
  --font-family-helvetica-compressed: var(--font-helvetica-compressed);
  --font-family-inter: var(--font-inter);
  --font-family-archivo: var(--font-archivo);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Fuentes personalizadas para Tailwind */
.font-helvetica {
  font-family: var(--font-helvetica), sans-serif;
}

.font-helcompressed {
  font-family: var(--font-helvetica-compressed), sans-serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

.font-archivo {
  font-family: var(--font-archivo), sans-serif;
}
